<div *ngIf="selectedHero">

  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>

  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" (mouseenter)="onHoover(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>

</div>
<!-- *ngFor is just an angular list

LOOPS THOUGH ALL HEROES
    <li *ngFor="let hero of heroes"></li> 

ADDS AN EVENT LISTENER TO DO SOMETHING ON CLICK
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
-->

